body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #66bfbf;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}
h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 550;
    padding: 15px;
    
}
h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;
}
#title {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.top-container {
    padding-top: 80px;
    background-color: #e4f9f5;
    position: relative;
}
.middle-container {
    font-family: 'Montserrat', sans-serif;
    margin: 100px 0;
}
.bottom-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #66bfbf;
    padding: 50px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.ibti-pic {
    width: 15%;
}
.footer-link {
    color: #11999e;
    font-size: 25px;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.web-image {
    width: 33%;
    float: right;
    margin-left: 28px;
}
.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.copyright {
    color: #EAF6F6;
}
.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #11999e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .contact-message {
      width: 40%;
      margin: 40px auto 60px auto;
      line-height: 2;
  }